<footer>
  <a href="/amazon">
    <div class="foot-panell">Back to top</div>
  </a>
  <div class="panel2">
    <ul>
      <p>Get to know us</p>
      <br />
      <a>Careers</a
      ><br /><br />
      <a>Blog</a
      ><br /><br />
      <a>About Amazon</a
      ><br /><br />
      <a>Invester relations</a
      ><br /><br />
      <a>Amazon devices</a
      ><br /><br />
      <a>Amazon science</a
      ><br /><br />
    </ul>
    <ul>
      <p>Make Money with Us</p>
      <br />
      <a>Sell products on Amazon</a
      ><br /><br />
      <a>Sell on Amazon Business</a
      ><br /><br />
      <a>Sell apps on Amazon</a
      ><br /><br />
      <a>Become an Affiliate</a
      ><br /><br />
      <a>Advertise Your Products</a
      ><br /><br />
      <a>Self-Publish with Us</a
      ><br /><br />
      <a>Host an Amazon Hub</a
      ><br /><br />
      <a>See More Make Money with Us</a
      ><br /><br />
    </ul>
    <ul>
      <p>Amazon Payment Products</p>
      <br />
      <a>Amazon Business Card</a
      ><br /><br />
      <a>Shop with Points</a
      ><br /><br />
      <a>Reload Your Balance</a
      ><br /><br />
      <a>Amazon Currency Converter</a
      ><br /><br />
    </ul>
    <ul>
      <p>Let Us Help You</p>
      <br />
      <a>Amazon and COVID-19</a
      ><br /><br />
      <a>Your Account</a
      ><br /><br />
      <a>Your Orders</a
      ><br /><br />
      <a>Shipping Rates & Policies</a
      ><br /><br />
      <a>Manage Your Content and Devices</a
      ><br /><br />
      <a>Help</a
      ><br /><br />
    </ul>
  </div>
  <div class="panel3">
    <div class="logo"><img src="/images/amazon_logo.png" alt="Amazon" /></div>
  </div>
  <div class="panel4">
    <div class="pages">
      <a href="">Condition of use</a>
      <a href="">Privacy Notice</a>
      <a href="">Your Ads privacy choise</a>
    </div>
    <div class="copyright">© 1996-2024, Amazon.com, Inc. or its affiliates</div>
  </div>
</footer>
