<div class="amazon-header">
    <div class="amazon-header-left-section">
        <a href="/amazon" class="header-link">
        <img class="amazon-logo"
            src="/images/amazon_logo.png">
        <img class="amazon-mobile-logo"
            src="images/amazon-mobile-logo-white.png">
        </a>
        <div class="location">
            <i class="fa-solid fa-location-dot"></i>
            <a class="orders-link header-link" href="#">
                <span class="returns-text">Deliver to</span>
                <span class="orders-text">India</span>
            </a>
        </div>
    </div>

    <div class="amazon-header-middle-section">
        <select name="search" id="search-opt">
            <option value="volvo" selected>&nbsp;&nbsp;All</option>
            <option value="electronics">Electronics</option>
            <option value="clothing">Clothing</option>
            <option value="home">Home & Kitchen</option>
            <option value="beauty">Beauty & Personal Care</option>
            <option value="books">Books</option>
            <option value="sports">Sports & Outdoors</option>
            <option value="toys">Toys & Games</option>
            <option value="grocery">Grocery</option>
            <option value="automotive">Automotive</option>            
          </select>
        <input class="search-bar" type="text" placeholder="Search">
        <button class="search-button">
        <img class="search-icon" src="images/icons/search-icon.png">
        </button>
    </div>

    <div class="amazon-header-right-section">
        
        <a class="orders-link header-link lang" href="#">
        <span class="orders-text"><i class="fa-solid fa-language"></i>&nbsp;Eng</span>
        </a>

        <a class="orders-link header-link" href="#">
        <span class="returns-text">Hello,sign in</span>
        <span class="orders-text">Account & Lists</span>
        </a>

        <a class="orders-link header-link" href="orders.html">
        <span class="returns-text">Returns</span>
        <span class="orders-text">& Orders</span>
        </a>

        <a class="cart-link header-link" href="/checkout">
        <img class="cart-icon" src="images/icons/cart-icon.png">
        <div class="cart-quantity js-cart-quantity">9</div>
        <div class="cart-text">Cart</div>
        </a>
    </div>
</div>
<div class="panel">
    <div class="panel-ops"><i class="fa-solid fa-bars"></i>
    All
    </div>
        <div class="panel-opstion">
            <p>Prime</p>
            <p>Music</p>
            <p>Medical Care</p>
            <p>Best Sellers</p>
            <p>New Releases</p>
            <p>Books</p>
            <p>Today's Deals</p>
            <p>Amazon Basics</p>
            <p>Amazon Home</p>
            <p>Registry</p>
            <p>Customer Service</p>
            
        </div>
</div>