<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="css/main/general.css">
<link rel="stylesheet" href="css/main/style.css">
<body>
    <div class="hero-section" id="top">
        <div class="hero-msg">You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery. <a href="#"> Click here to go to amazon.in</a></div>  
    </div>

    <div class="main">
        <div class="products-grid js-products-grid">
        </div>
    </div>
    <script type="module" src="/js/amazon.js"></script>
</body>