<% layout('layouts/boilerPlate') -%>
<!-- <body>
    <div class="hero-section">
        <div class="hero-msg">You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery. <a href="#"> Click here to go to amazon.in</a></div>  
      </div>
      <div class="shop-section">
        <div class="box1 box">
            <div class="box-content"><br>
            <h2>Phone</h2><br>
            <div class="box1-image"></div>
            <br>
            <a href="#">See more</a>
            </div>
        </div>
        <div class="box2 box">
            <div class="box-content"><br>
                <h2>Beauty piks</h2><br>
                <div class="box2-image"></div>
                <br>
                <a href="#">See more</a>
                </div>
        </div>
        <div class="box3 box">
            <div class="box-content"><br>
                <h2>Shop Pet supplies</h2><br>
                <div class="box3-image"></div>
                <br>
                <a href="#">See more</a>
                </div>
        </div>
        <div class="box4 box">
            <div class="box-content"><br>
                <h2>Discover fashion trends</h2><br>
                <div class="box4-image"></div>
                <br>
                <a href="#">See more</a>
                </div>
        </div>
        <div class="box5 box">
            <div class="box-content"><br>
                <h2>Home & care</h2><br>
                <div class="box5-image"></div>
                <br>
                <a href="#">See more</a>
                </div>
        </div>
        <div class="box6 box">
            <div class="box-content"><br>
                <h2>Health & Presnol care</h2><br>
                <div class="box6-image"></div>
                <br>
                <a href="#">See more</a>
                </div>
        </div>
        <div class="box7 box">
            <div class="box-content"><br>
                <h2>For your Fitness Needs</h2><br>
                <div class="box7-image"></div>
                <br>
                <a href="#">Shop now</a>
                </div>
        </div>
        <div class="box8 box">
            <div class="box-content"><br>
                <h2>Create with strip lights</h2><br>
                <div class="box8-image"></div>
                <br>
                <a href="#">Shop now</a>
                </div>
        </div>
      </div>
</body> -->