<% layout('layouts/boilerPlate') -%>
<body>
    <div class="hero-section">
        <div class="hero-msg">You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery. <a href="#"> Click here to go to amazon.in</a></div>  
    </div>

    <div class="main">
        <div class="products-grid js-products-grid">
        </div>
    </div>
    <script type="module" src="../../public/js/file.js"></script>
</body>