<% layout('layouts/boilerPlate') -%>
<title>Amazon.in Shoping Cart</title>
<link rel="stylesheet" href="css/checkout/checkout.css">
<body>
  <div class="checkout-header">
    <div class="header-content">
      <div class="checkout-header-middle-section">
        Checkout (<a class="return-to-home-link js-return-to-home-link"
          href="/amazon"></a>)
          <i class="fa-solid fa-cart-shopping"></i>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="page-title"></div>
    <div class="checkout-grid">
      <div class="order-summary js-order-summary">
      </div>

      <div class="payment-summary">
        <div class="payment-summary-title">
          Order Summary
        </div>

        <div class="payment-summary-row">
          <div class="js-cart-summary-quantity"></div>
          <div class="payment-summary-money js-cart-summary-total"></div>
        </div>

        <div class="payment-summary-row">
          <div>Shipping &amp; handling:</div>
          <div class="payment-summary-money">$0.00</div>
        </div>

        <div class="payment-summary-row subtotal-row">
          <div>Total before tax:</div>
          <div class="payment-summary-money js-total-before-tax"></div>
        </div>

        <div class="payment-summary-row">
          <div>Estimated tax (10%):</div>
          <div class="payment-summary-money js-extimated-tax"></div>
        </div>

        <div class="payment-summary-row total-row">
          <div>Order total:</div>
          <div class="payment-summary-money js-order-total"></div>
        </div>

        <button class="place-order-button button-primary js-place-order">
          Place your order
        </button>
      </div>
  </div>
  <script type="module" src="/js/checkout.js"></script>
</body>