<% layout('layouts/boilerPlate') -%>
<title>Order</title>
<link rel="stylesheet" href="css/order/order.css" />
<body>
  <div class="main">
    <h1>Your Orders</h1>
    <div class="order">
      <div class="order-header">
        <div class="order-total">
          <div class="order">
            <b>Order Placed:</b>
            <p>January 22</p>
          </div>
          <div class="total">
            <b>Total</b>
            <p>$543</p>
          </div>
        </div>
        <div class="order-id">
          <b>Order Id</b>
          <p>73bce3e6-ffb4-8261-9561-f3a2d8d3b609</p>
        </div>
      </div>
      <div class="order-details-grid">
        <div class="product-img">
          <img src="../../public/images/products/bathroom-rug.jpg" alt="img">
        </div>
        <div class="product-info">
          <b>Product name</b>
          <p>arriving on : 25 January</p>
          <p>quantity : 3</p>
          <button>Buy again</button>
        </div>
        <div class="track">
          <button>Track package
    </div>
  </div>
  <script type="module" src="/js/returnOrder.js"></script>
</body>
