.hero-section{
    background-image: url(/images/hero.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100px;    
}
.hero-msg{
    height: 40px;
    width: 90%;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.2rem;
    margin: 25px;
}
.hero-msg a{
    color: #007185;
    font-size: 1.2rem;
    text-decoration: none;

}
.hero-msg a:hover{
    text-decoration: underline;
    color: rgb(199, 71, 71);
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 390px;
    width: 23%;
    background-color: white;
}
.box1-image{
    background-image: url(phone.jpg);
    background-size: cover;
    height: 300px;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box2-image{
    background-image: url(box5_image.jpg);
    background-size: cover;
    height: 300px;
}
.box3-image{
    background-image: url(box6_image.jpg);
    background-size: cover;
    height: 300px;
}
.box4-image{
    background-image: url(box8_image\ \(1\).jpg);
    background-size: cover;
    height: 300px;
}
.box-content a{
    color: #007185;
}
.box5-image{
    background-image: url(box1_image.jpg);
    background-size: cover;
    height: 300px;
}
.box6-image{
    background-image: url(box2_image.jpg);
    background-size: cover;
    height: 300px;
}
.box7-image{
    background-image: url(fit.jpg);
    background-size: cover;
    height: 300px;
}
.box8-image{
    background-image: url(gitter.jpg);
    background-size: cover;
    height: 300px;
}
.box a{
    text-decoration: none;
}
.box a:hover{
    /* text-decoration: underline; */
    color: rgb(199,71,71);
}