body {
  margin-top: 8.4rem;
}
.main{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}
h1 {
  padding: 2rem 0;
  margin: 0;
}
.order-details{
  border: 2px solid #d5d9d9;
  border-radius: 1rem;
}
.order-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: #f0f2f2;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 2px solid #d5d9d9;
}
.order-header div p {
  margin: 0.3rem;
}
.order-total {
  display: flex;
}
.order-total .total {
  padding-left: 4rem;
}
.order-details-grid {
  display: grid;
  grid-template-columns: 9rem 1fr 18rem;
  row-gap: 20px;
  column-gap: 30px;
  margin: 1.5rem 2rem;
  align-items: center;
  grid-template-rows: auto auto auto;
}
.product-img img{
  max-width: 9rem;
  max-height: 9rem;
}
.product-info p{
  margin: 5px 0;
}
.product-info button{
  background-color: rgba(247, 202, 20, .8);
  border: none;
  height: 3rem;
  width: 12rem;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5)
}
.product-info button:hover{
  background-color: rgb(247, 202, 20);

}
.product-info button img{
  height: 2rem;
}
.product-info button span{
  padding-left: 1rem;
}
.track button{
  background-color: white;
  border: 2px solid #d5d9d9;
  height: 3rem;
  width: 15rem;
  font-size: larger;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5)
}
.track button:hover{
  background-color: #f7fafa;
}
